<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ profile.name }}'s Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to Aman Manandhar's Portfolio</h1>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>Contact me at <a href="mailto:someone@example.com">amansenpai01@gmail.com</a></p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
